//color palette
$dark-grey: #353535;
$base-grey: #767676;
$light-grey: #ababab;
$white: #ffffff;
$base-blue: #1076bb;
$base-green: #23995f;
$base-red: #ff0020;

$radius: 7px;

//Padding & Margin
$extra-small: 5px;
$small: 10px;
$medium: 20px;
$large: 40px;
$extra-large: 80px;
$huge: 160px;
$extra-huge: 320px;

//Breakpoints:
//Xtra-small: default;
$extra-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 767px;
$large-screen: 992px;
$extra-large-screen: 1500px;

// Font sizes
$small-font-size: 12px;
$base-font-size: 14px;
$large-font-size: 16px;
$pp: .8rem;
$p: 1rem;
$h5: 1.2rem;
$h4: 1.4rem;
$h3: 1.8rem;
$h2: 2.5rem;
$h1: 3.0rem;