@import '../../variables.scss';

.result-container {
  padding: 20px;
  background-color: $base-grey;
  border-radius: 7px;
  color: $light-grey;

  .url {
    margin: $medium;

    strong {
      color: $white;
    }

    &.short-url {
      a {
        color: $light-grey;
      }
    }
  }
}