.result-enter {
  opacity: 0.01;
  transform: scale(0.9);
}
.result-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-out;
}
.result-exit {
  opacity: 1;
  transform: scale(1)
}
.result-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all 300ms ease-out;
}


.drop-enter {
  opacity: 0.01;
  margin-bottom: 300px;
}
.drop-enter-active {
  opacity: 1;
  margin-bottom: 0px;
  transition: all 1000ms ease-out;
}
.drop-exit {
  opacity: 1;
  transform: scale(1)
}
.drop-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all 300ms ease-out;
}